
@model List<Movie>


<div>

    <!--BANNER-->
    <section>
        <div class="video-background">
            <video id="video1" class="active" autoplay muted loop>
                <source src="videos/headervi1.mp4" type="video/mp4">
            </video>
            <video id="video2" autoplay muted loop>
                <source src="videos/headervi2.mp4" type="video/mp4">
            </video>
            <video id="video3" autoplay muted loop>
                <source src="videos/headervi3.mp4" type="video/mp4">
            </video>
        </div>

        <div class="banner">
          
                <div class="content active" id="content1">
                @foreach (var obj in Model)
                {
                    <img src="images/banner1.png" alt="" class="movie-title" />

                    <div>
                        <h4>@obj.releaseDate</h4>
                        <h4>@obj.ageLimit</h4>
                        <h4>@obj.duration</h4>
                        <h4>@obj.genre</h4>
                    </div>
                    <h4>
                        <span>2025</span><span><i>10+</i></span>
                        <span>2h 9min</span>Romance<span></span>
                    </h4>
                    <p asp-for="@obj.description">
                        A brave, beautiful, and brilliant young woman is imprisoned by a beast in his castle. Despite her fears, she learns to see beyond the beast's hideous exterior and realize the gentle heart of the true prince within him.
                    </p>
                    <div class="button">
                        <a href="#"><i class="fa-solid fa-circle-info" aria-hidden="true"></i>More Detail</a>
                        <a href="#"><i class="fa fa-ticket-alt" aria-hidden="true"></i>Book Ticket</a>
                    </div>

                    }

                </div>
           
          

        <!--<a href="#" class="play">
               <i class="fa-regular fa-circle-play" aria-hidden="true">Watch Trailer</i>
           </a>-->
            <div class="slider-navigation">
                <div class="nav-btn" data-target="1"></div>
                <div class="nav-btn" data-target="2"></div>
                <div class="nav-btn" data-target="3"></div>
            </div>
        
    </section>



  
</div>
@section Scripts {
	<script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
